
@media only screen and (min-width: 350px) {
    h4{
        color: #006837;
        text-align: center;
        margin: 0px auto;
        font-size: 16px;
        font-weight: bold;
        width: 300px;
    }
    h5{
        margin: 10px auto ;
        text-align: center;
        font-size: 16px;
        width: 300px;
    }
    .card-img{
        width: 20vw;
        height: auto;
        display: block;
        margin: 0px auto;            
    }     
    
    ion-card{
        height: 10vh;
        width: 300px;
        align-items: center;
        display: inline-flex;
        margin-left: 7vw;
        border-radius: 10px;
    } 

    .label{
        width: 120px;
        margin-bottom: 10px;    
    }

    .logo-img{
        width: 45%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    ion-title{
        font-weight: bold;
        font-size: 3vh;
        color: #006837;
    }
    ion-checkbox{
        margin-left: 10px;
    }
    ion-buttons{
        margin-left: 10px;
    }
    ion-button{
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 600px) {
    .logo-img{
        width: 20vw;
    }
    ion-title{       
        font-size: 2vw;
    }
    ion-card{
        height: 17vw;
        width: 350px;        
        margin-left: 22vw;
    } 
    ion-button{
        width: 55vw;
    }    
}   
