ion-card{
    width: 94%;
    height: 94%;
    margin: 0.5rem auto;
    align-items: center;
    align-content: center;
}

ion-card-title{
    text-align: center;
}
ion-buttons{
    width: 100%;
    margin: 1rem auto 0rem auto;
}

ion-button{
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}

ion-icon{
    font-size: 24px;
}
