<div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="irHome();">
      <ion-label>Inicio</ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="irMapa();">
      <ion-label>Mapas</ion-label>
      <ion-icon name="earth-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button>
      <ion-label>Reportes</ion-label>
      <ion-icon name="bar-chart-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button>
      <ion-label>Ajustes</ion-label>
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</div>
