<ion-grid>
  <ion-row>
    <ion-col>      
      <span class="settings">
      </span>
      <span class="settings" >
      <ion-img (click)="england();" src= "../../../assets/flags/ingles.svg"></ion-img>
      </span>
      <span class="settings" >
      <ion-img (click)="espanish();" src= "../../../assets/flags/espanol.svg"></ion-img> 
      </span>
      <span class="settings" >
      <ion-img (click)="french();" src= "../../../assets/flags/frances.svg"></ion-img>
      </span> 
      <span class="settings">
      </span>    
      
    </ion-col>
  </ion-row>
</ion-grid>
